<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">申请解答者</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="services" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block withdrawals-bj" style="margin: 0px; padding: 0px;">
                <div class="withdrawals-bj">
                  <p>真实姓名</p>
                  <P><i class="data-box-tener-lcon"></i>身份证上传</P>
                   <P>上传图片</P>
                    <div class="row person-box">
                        <div class="col-65">
                            <b>手机号</b>
                        </div>
                        <div class="col-35 ">
                            <input class="withdrawals-input" type="text" placeholder="选填">
                        </div>
                    </div>
                    <div class="row person-box">
                        <div class="col-65">
                            <b>工作地点</b>
                        </div>
                        <div class="col-35 ">
                            <input class="withdrawals-input" type="text" placeholder="精确到县">
                        </div>
                    </div>
                    <div class="row person-box">
                        <div class="col-65">
                            <b>专业资格</b>
                        </div>
                        <div class="col-35 ">
                            <input class="withdrawals-input" type="text" placeholder="下拉框">
                        </div>
                        <P>上传图片</P>
                        <div class="row person-box">
                            <div class="col-65">
                                <b>工作单位</b>
                            </div>
                            <div class="col-35 ">
                                <input class="withdrawals-input" type="text" placeholder="选填">
                            </div>
                        </div>
                        <div class="row person-box">
                            <div class="col-65">
                                <b>专业资格</b>
                            </div>
                            <div class="col-35 ">
                                <input class="withdrawals-input" type="text" placeholder="下拉框">
                            </div>
                            <label class="label-checkbox item-content" style="margin-top: 20px;">
                                <!-- Checked by default -->
                                <input type="checkbox" name="my-checkbox" value="Books" checked="checked">
                                <div class="item-media">

                                    <div class="row answer-gai "style="padding-right: 20px;">
                                        <div class="col-10 withdrawals-lcon">
                                            <i class="icon icon-form-checkbox icon-checked"></i>
                                        </div>
                                        <div class="col-50">
                                            <div class="item-title-row">
                                                <b>我也阅读并同意</b>
                                            </div>
                                        </div>
                                        <div class="col-35">
                                            <div class="item-title-row">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </label>


                    </div>

                </div>
                    <b class="button  button-fill color-main ">提交确认</b>
            </div>
        </div>
    </div>
</div>
    </div>