<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">资金</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="capital" class="page">
        <!-- Scrollable page content-->
        <div class="page-content seek_mod order">
            <div class="content-block">
                <div class="row capital-gai">
                    <div class="col-5"></div>
                    <div class="col-25"><img src="/static/images/img/capital_03.png"width="35"height="35"></div>
                    <div class="col-25"><img src="/static/images/img/capital_05.png"width="35"height="35"></div>
                    <div class="col-25"><img src="/static/images/img/capital_07.png"width="35"height="35"></div>
                    <div class="col-20"><img src="/static/images/img/capital_09.png"width="35"height="35"></div>
                </div>
                <div id="list_zx">
                   <!-- <script type="text/template7" id="duanlist">
                        <div class="row capital-list">
                            <div class="col-1"></div>
                            <div class="col-25">2016/12/02<span>&lt;!&ndash;{{send_host_time}}&ndash;&gt;</span></div>
                            <div class="col-20">09:02</div>
                            <div class="col-20">咨询费<span>{{tran_uasge}}</span></div>
                            <div class="col-20">10.00<span>{{tran_amt}}</span></div>

                        </div>
                    </script>-->
              <!--  <div class="row capital-list" id="dianj">
                    <div class="col-1"></div>
                    <div class="col-25">2016/12/02</div>
                    <div class="col-20">09:02</div>
                    <div class="col-20">咨询费</div>
                    <div class="col-20">10.00</div>
                </div>
                <div class="row capital-list">
                    <div class="col-1"></div>
                    <div class="col-25">2016/12/02</div>
                    <div class="col-20">09:02</div>
                    <div class="col-20">咨询费</div>
                    <div class="col-20">10.00</div>
                </div>
                <div class="row capital-list">
                    <div class="col-1"></div>
                    <div class="col-25">2016/12/02</div>
                    <div class="col-20">09:02</div>
                    <div class="col-20">咨询费</div>
                    <div class="col-20">10.00</div>
                </div>
                <div class="row capital-list">
                    <div class="col-1"></div>
                    <div class="col-25">2016/12/02</div>
                    <div class="col-20">09:02</div>
                    <div class="col-20">咨询费</div>
                    <div class="col-20">10.00</div>
                </div>
                <div class="row capital-list">
                    <div class="col-1"></div>
                    <div class="col-25">2016/12/02</div>
                    <div class="col-20">09:02</div>
                    <div class="col-20">咨询费</div>
                    <div class="col-20">10.00</div>
                </div>
-->




              </div>
            </div>
        </div>
    </div>
</div>

 
 
 