<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div> 
        <div class="center sliding">设置</div>
    </div>
</div>

<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="custom" class="page toolbar-fixed">
        <!-- Scrollable page content-->
        <div class="toolbar messagebar meaasgebar-toolbar">
            <div class="toolbar-inner">
                <textarea placeholder="Message" class=""></textarea><a href="#" class="link">Send</a>
            </div>
        </div>
        <div class="page-content pading-80">

            <div class="messages messages-auto-layout">
                <div class="messages-date">周四 <span>12:58</span></div>

                <div class="message  message-received message-with-avatar message-last message-with-tail message-first message-white">
                    <div class="message-text">How are you?</div>
                    <div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"></div>
                </div>

                <div class="message message-sent message-last message-with-tail messages-rig">
                    <div class="message-text">I am fine, thanks</div>
                    <div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"></div>
                </div>

            </div>
        </div>

    </div>
</div>