<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">专家</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="expert" class="page">
        <div class="row problem-top-move">
            <div class="col-50 no-gutter search-gai">
                <div class="item-input expert-box" >
                    <span>地区:</span> <input type="text" placeholder="地区" class="expert-input" id="region" readonly>
                </div>
            </div>
            <div class="col-50 search-gai">
                <div class="item-input expert-box" >
                    <span>姓名:</span> <input type="text" placeholder="姓名" class="expert-input" id="name">
                </div>
            </div>
            <div class="item-input expert-box-2" >
                <span>业务专长:</span> <input type="text" placeholder="出口退税,企业所得税" class="expert-input" id="Expertise">
            </div>

            <a href="#" class="button  button-fill color-main ticket-lest-button" id="expertcike">搜索</a>
        </div>
        <div class="list-block list-block-search searchbar-found" style="margin: 0px;">

                <ul class="item_main" id="expertList">

                </ul>
            </div>
    </div>
</div>