<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">专家</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="expert" class="page">
        <div class="row problem-top-move">
            <center>
                <div class="row" style="
    width: 100%;
    padding-bottom: 20px;
">
                    <div class="col-100">
                        <span>地区:</span> <input type="text" placeholder="地区" class="expert-input" id="region" readonly="" style="
    width: 225px;
">
                    </div>
                </div>
                <div class="row" style="
    width: 100%;
    padding-bottom: 20px;
">
                    <div class="col-100">
                        <span>姓名:</span> <input type="text" placeholder="姓名" class="expert-input" id="name" style="
    width: 225px;
">
                    </div>
                </div>
                <div class="row" style="
    width: 100%;
    padding-bottom: 20px;
">
                    <div class="col-100">
                        <span>业务专长:</span> <input type="text" placeholder="出口退税,企业所得税" class="expert-input" id="Expertise" style="
    width: 197px;
">
                    </div>
                </div>

            </center>


        </div>
        <div style="background-color: rgb(255, 255, 255);padding-bottom: 10px;">
            <a href="#" class="button  button-fill color-main ticket-lest-button" id="expertcike" style="
    height: 35px;
    line-height: 35px;
">搜索</a>
        </div>
        <div class="list-block list-block-search searchbar-found" style="margin: 0px;">

            <ul class="item_main" id="expertList">

            </ul>
        </div>
    </div>
</div>
