<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">专家</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="expert" class="page">
        <div class="row problem-top-move">
            <div class="col-50 no-gutter search-gai">
                <div class="item-input expert-box" >
                    <span>地区:</span> <input type="text" placeholder="地区" class="expert-input" id="region">
                </div>
            </div>
            <div class="col-50 search-gai">
                <div class="item-input expert-box" >
                    <span>姓名:</span> <input type="text" placeholder="姓名" class="expert-input" id="name">
                </div>
            </div>
            <div class="item-input expert-box-2" >
                <span>业务专长:</span> <input type="text" placeholder="出口退税,企业所得税" class="expert-input" id="Expertise">
            </div>

            <a href="#" class="button  button-fill color-main ticket-lest-button" id="expertcike">搜索</a>
        </div>
        <div class="list-block list-block-search searchbar-found" style="margin: 0px;">

                <ul class="item_main">
                    <li>
                        <div class="item-content item-width">
                            <div class="item-media item-round">
                                <img class="ft-movielist-item-img" src="/static/images/jpg.jpg">
                            </div>
                            <div  class="item-inner item-no expert-zize">
                                <div class="item-title-row">
                                    <div class="item-title item-name">阿萨<span class="level_x">★★★★</span></div>
                                    <div class="item-address">专家地区：<span>广东东莞</span></div>
                                    <div class="item-address">咨询费：<span class="monery_span">100.00元</span>起</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-items">
                            <span class="cpa">注册会计师</span><span class="a_cpa">美国注册会计师</span><span class="cpv">注册资产评估师</span><span class="cta">注册税务师</span><span class="bar">律师</span><span class="cpa_g">特许公认会计师</span><span class="other">其他</span>
                        </div>
                    </li>

                </ul>
            </div>
    </div>
</div>