<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">关于</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="queryDetails" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block searchbar_box">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <strong>欢迎使用税聚APP</strong>
                                </div>
                                <div class="item-inner">
                                    <strong style="text-align: center">CLPS出品</strong>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div id="detailsInfo" style="background: #fff;">

                </div>
            </div>
        </div>
    </div>
</div>
</div>