<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div> 
        <div class="center sliding">发票列表</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="ticketlist" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
                     <div class="content-list-block home_pnel">
						<div class="row listpage" >
                                <a href="" class="col-50 color-white list-count">
                                    <span class=" weight Txtalign">89</span>
									<span>发票数量(个)</span>
                                </a>
                                <a class="col-50 list-money color-white">
                                    <span class=" weight Txtalign">788</span>
									<span>发票金额(元)</span>
                                </a>
                            </div>
						
					 </div>
					 <div class="postmsg">
						 <div class="content-block home_pnel listpostinfo">
							<p class="detail">圆通快递:12234545555800<span>达</span></p>						
						 </div>
						<div class="postdetail">
							<div class="recivername">
								<p class="reciver">
									<span>收件人:</span>
									<span>张小姐</span>
								</p>
								<p class="listmoneycount">
									<span>发票金额:</span>
									<span>600.00</span>
								</p>
							</div>
							<div class="linnum"><span>联系电话:</span><span>15512785036</span></div>	
							<div class="linnum"><span>地址:</span><span>北京海淀区天通苑</span></div>	
						</div>
						<div class="postmessage">
							<div class="prod">
								<p class="product">
									<span class="prodfee">合计:
										<span class="tranfee">￥10.00元</span>
										<span class="zongfee">(含运费￥0.00元)</span>
									</span>
									<span class="countnum">共1件商品</span>
								</p>
							</div>
							<div class="poststatus"><p><span>交易成功</span></p></div>
						</div>
					</div>
					 <div class="postmsg">
						 <div class="content-block home_pnel listpostinfo">
							<p class="detail">圆通快递:12234545555800<span>达</span></p>						
						 </div>
						<div class="postdetail">
							<div class="recivername">
								<p class="reciver">
									<span>收件人:</span>
									<span>张小姐</span>
								</p>
								<p class="listmoneycount">
									<span>发票金额:</span>
									<span>600.00</span>
								</p>
							</div>
							<div class="linnum"><span>联系电话:</span><span>15512785036</span></div>	
							<div class="linnum"><span>地址:</span><span>北京海淀区天通苑</span></div>	
						</div>
						<div class="postmessage">
							<div class="prod">
								<p class="product">
									<span class="prodfee">合计:
										<span class="tranfee">￥10.00元</span>
										<span class="zongfee">(含运费￥0.00元)</span>
									</span>
									<span class="countnum">共1件商品</span>
								</p>
							</div>
							<div class="poststatus" id="list_sd"><p><span class="button sure">确认收货</span></p></div>
						</div>
					</div>	
			
              
            </div>
        </div>
    </div>
</div>