<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">支付</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="pay-success" class="page">
        <!-- Scrollable page content-->
        <div align="middle"  >
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="../static/images/img/pay_success.png" align="middle" >
        </div>
    </div>
</div>
</div>