<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">题库</div>
        <div class="right sliding">
            <a href="about/uestions-addto.html" class="link"><b>添加</b></a>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="personaluestions" class="page">
        <!-- Scrollable page content-->
        <div class="page-content page-gai">
            <div class="content-block person">
                <div id="perbox">
                <div class="buttons-row consult_tab"  >
                    <!--<a class="btn_tab"><b>576</b></br><span>题库总数（条）</span></a>
                    <a class="btn_tab"><b>23.33</b></br><span>题库收益（元）</span></a>-->
                </div>
                </div>
                <div id="jshai">
                  <!--  <div  class="item-title list-box-cont ques-fine">
                        <div><span>编号:</span1>23456</span></div>
                        <div><span>来源:</span><span>北京地税局</span></div>
                        <div><span>入库时间:</span> <span>16/12/12</span></div>
                    </div>
                    <div  class="item-title list-box-cont ques-fine">
                        <div><span>编号:</span1>23456</span></div>
                        <div><span>来源:</span><span>北京地税局</span></div>
                        <div><span>入库时间:</span> <span>16/12/12</span></div>
                    </div>
                    <div  class="ques-fine-cont">
                        <img class="person-cont" src="/static/images/img/ques-fine.png"  width="40"><span>a鞍山西吃的都是从市场上的出售的安市喜爱西安西安市西安市西安上学时</span>

                        <div>
                            答：<span>是</span>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>