<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">问答</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="problem" class="page">
        <!-- Scrollable page content-->
        <div class="page-content page-gai">
            <div class="content-block person">
                <div class="subnavbar withdrawals-bj">
                    <!-- Buttons row as tabs controller in Subnavbar-->
                    <div class="buttons-row revenue-top " id="problem-none">
                        <!-- Link to 1st tab, active -->
                        <a href="#tab1" class="button active tab-link" id="Consultation">咨询</a>
                        <!-- Link to 2nd tab -->
                        <a href="#tab2" class="button tab-link" style="border-left:1px" id="Answer">解答</a>
                        <!-- Link to 3rd tab -->
                        <a href="#tab3" class="button tab-link" id="Seekhelp">求助</a>
                        <!-- Link to 3rd tab -->
                        <a href="#tab4" class="button tab-link" id="help">援助</a>
                    </div>
                </div>
                <!-- Tabs, tabs wrapper -->
                <div class="tabs">
                    <!-- Tab 1, active by default -->
                    <div id="tab1" class="page-content tab active " style="padding-bottom: 0px;">
                        <div id="problem-bj" class="row">
                           <!-- <div class="col-50">
                                <div class="buttons-ro problem-top">
                                    <i class="problem-lcon"></i><b>576</b>
                                    </br><span>支付金额</span>
                                </div>
                            </div>
                            <div class="col-50 problem-top problem-top-2">
                                <div>解答总数：<span>123</span>
                                </div>
                                <div>采纳数量：<span>123</span>
                                </div>
                            </div>-->

                        </div>
                        <div class="ansyer-box problem-top-move" id="tation_chlsit">
                            <!--<div class="list-block media-list ansyer-list">
                                <div class="item-content ansyer-list-locn problem-location">
                                    <div class=" item-media ansyer-list-locn ">
                                        <img src="/static/images/jpg.jpg" width="60">
                                    </div>
                                    <div class="ansyer-list-box">
                                        <div class="item-title-row">
                                            <div class="item-title list-box-cont">
                                                <span>2016/8/30</span>
                                                <span> 09:12</span>
                                            </div>
                                        </div>
                                        <div class=" list-box-cont">
                                            <img class="person-cont" src="/static/images/img/answer_03.png" width="20"> <span>东莞市局 昌平分局</span>
                                        </div>
                                        <div class="ansyer-Label">
                                            <span>进出口税收</span>
                                        </div>
                                    </div>
                                    <img src="/static/images/img/ansyer-lcon.png" width="23" height="30"> <span class="ansyer-number">0.00</span>
                                    </br>
                                    <div class="problem-location-son">完</div>
                                    &lt;!&ndash;   <div class="problem-location-son problem-location-son-2">待</div>&ndash;&gt;
                                </div>
                            </div>
                            <div class="answer-plus-data"><b>就先按西安市卡西表示咖相机把科学潇洒下手下实现</b> </div>-->

                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div id="tab2" class="page-content tab">
                        <div id="problem-bj_2">
                        <div id="problem-bj" class="row">

                            <!-- <div class="col-50">
                                 <div class="buttons-ro problem-top">
                                     <i class="problem-lcon"></i><b>576</b>
                                     </br><span>支付金额</span>
                                 </div>
                             </div>
                             <div class="col-50 problem-top problem-top-2">
                                 <div>解答总数：<span>123</span>
                                 </div>
                                 <div>采纳数量：<span>123</span>
                                 </div>
                             </div>-->
                        </div>
                        </div>
                        <div class="ansyer-box problem-top-move" id="tation_chlsit_2">
                            <!--<div class="list-block media-list ansyer-list">
                                <div class="item-content ansyer-list-locn problem-location">
                                    <div class=" item-media ansyer-list-locn ">
                                        <img src="/static/images/jpg.jpg" width="60">
                                    </div>
                                    <div class="ansyer-list-box">
                                        <div class="item-title-row">
                                            <div class="item-title list-box-cont">
                                                <span>2016/8/30</span>
                                                <span> 09:12</span>
                                            </div>
                                        </div>
                                        <div class=" list-box-cont">
                                            <img class="person-cont" src="/static/images/img/answer_03.png" width="20"> <span>东莞市局 昌平分局</span>
                                        </div>
                                        <div class="ansyer-Label">
                                            <span>进出口税收</span>
                                        </div>
                                    </div>
                                    <img src="/static/images/img/ansyer-lcon.png" width="23" height="30"> <span class="ansyer-number">0.00</span>
                                    </br>
                                    <div class="problem-location-son">完</div>
                                    &lt;!&ndash;   <div class="problem-location-son problem-location-son-2">待</div>&ndash;&gt;
                                </div>
                            </div>
                            <div class="answer-plus-data"><b>就先按西安市卡西表示咖相机把科学潇洒下手下实现</b> </div>-->

                        </div>


                    </div>
                    <!-- Tab 3 -->
                    <div id="tab3" class="page-content tab">
                        <div id="problem-bj" class="row seek_help_problem-bj">
                        </div>
                        <!-- 文本-->
                        <div class="seek_mod order">
                            <div class="content-block" id="seek_help_container_unselected">
                            </div>
                            <div class="content-block" id="seek_help_container_selected">
                            </div>
                        </div>
                    </div>
                    <!-- Tab 4 -->
                    <div id="tab4" class="page-content tab">
                        <div id="problem-bj" class="row help_problem-bj">
                        </div>
                        <!-- 文本-->
                        <div class="seek_mod" id="help_container_card_list">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>