<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div> 
        <div class="center sliding">重置密码</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="resetpas" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block list-set">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content item-pas">
                            <div class="item-inner">
                                <div class="item-input" >
                                    <input type="password" placeholder="旧密码"id="usedmi">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-pas">
                            <div class="item-inner">
                                <div class="item-input" >
                                    <input type="password" placeholder="请输入6位数新密码"id="newmi">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-pas">
                            <div class="item-inner">
                                <div class="item-input" >
                                    <input type="password" placeholder="确认密码"id="confirm">
                                </div>
                            </div>
                        </div>
                    </li>
                   </ul>
                   <div class="list-block inset" id="modify">
                       <a class="button button-big button-fill color-main" href="">完成</a>
                   </div>
                </div>
        </div>
    </div>
</div>