<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar" id="set">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div> 
        <div class="center sliding">设置</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="set" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block list-set">
                <ul class="set_ul">
                    <li>
                        <div class="item-content item-padding">
                            <div class="item-inner">
                                <div class="item-title label item-set">新消息通知</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox"  id="prompt">
                                        <div class="checkbox" ></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-padding">
                            <div class="item-inner">
                                <div class="item-title label item-set">通知声音提示</div>
                                <div class="item-input">
                                    <label class="label-switch" >
                                        <input type="checkbox" checked  id="notice">
                                        <div class="checkbox" ></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a >
                        <div class="item-content item-padding">
                            <div class="item-inner" id="search">
                                <div class="item-title label item-set">设置个人最低价</div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="about/set-password.html" id="judge">
                            <div class="item-content item-padding">
                                <div class="item-inner" id="low">
                                    <div class="item-title label item-set" >设置提现密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="about/reset-money.html">-->
                            <!--<div class="item-content item-padding">-->
                                <!--<div class="item-inner">-->
                                    <!--<div class="item-title label item-set">重置提现密码</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="about/reset-pas.html">
                            <div class="item-content item-padding">
                                <div class="item-inner">
                                    <div class="item-title label item-set">重设密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="about/information.html">
                            <div class="item-content item-padding">
                                <div class="item-inner">
                                    <div class="item-title label item-set">关于</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <br>
                <div style="padding:0 15px">
                    <b id="dologout" class="button button-big button-fill color-main">退出</b>
                </div>
            </div>
        </div>
    </div>
</div>