<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div> 
        <div class="center sliding">设置</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="services" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block list-set">
                <ul class="set_ul">
                    <li>
                        <div class="item-content item-padding">
                            <div class="item-inner">
                                <div class="item-title label item-set">新消息通知</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-padding">
                            <div class="item-inner">
                                <div class="item-title label item-set">通知声音提示</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" checked>
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="about/set-money.html">
                        <div class="item-content item-padding">
                            <div class="item-inner">
                                <div class="item-title label item-set">设置个人最低价</div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="about/set-password.html">
                            <div class="item-content item-padding">
                                <div class="item-inner">
                                    <div class="item-title label item-set">设置支付密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="about/reset-pas.html">
                            <div class="item-content item-padding">
                                <div class="item-inner">
                                    <div class="item-title label item-set">重设密码</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="item-content item-padding">
                                <div class="item-inner">
                                    <div class="item-title label item-set">关于</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <br>
                    <li><a href="#" class="item-link list-button sign-out">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>