<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">添加</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="uestionsaddto" class="page">
        <!-- Scrollable page content-->
        <div class="page-content uestions" style="background-color:white;">
            <div class="person-box">
                <div class="content-block select_div" style="padding:20px 15px;margin:0">
                    <div class="row">
                        <div class="col-50">
                            <input type="text" placeholder="来源" class="expert-input" id="source" readonly>
                        </div>
                        <div class="col-50">
                            <input type="text" placeholder="适用地区" class="expert-input" id="area" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <input type="text" placeholder="问题属性" class="expert-input" id="ask_attribute" readonly>
                        </div>
                        <div class="col-50">
                            <input type="text" placeholder="税种类型" class="expert-input" id="tax_type" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <input type="text" placeholder="征管程序" class="expert-input" id="collection_procedure" readonly>
                        </div>
                        <div class="col-50">
                            <input type="text" placeholder="业务类型" class="expert-input" id="business_type" readonly>
                        </div>
                    </div>
                </div>
                <div class="content-block textarea_item">
                    <div class="list-block">
                        <textarea placeholder="请输入你的问题" id="ask_title"></textarea>
                    </div>
                    <div class="list-block">
                        <textarea placeholder="请输入你的答案" id="answer"></textarea>
                    </div>
                </div>
                <div class="content-block">
                    <b class="button button-big button-fill color-main" id="addQuestionBtn">添加</b>
                </div>
            </div>
        </div>
    </div>
</div>