<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">添加</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="uestionsaddto" class="page">
        <!-- Scrollable page content-->
        <div class="page-content page-gai">
            <div  class="content-block person">
                <div class="row person-box">
                    <div class="col-20">
                        <select class="uestions-select">
                            <option>来源</option>
                            <option>所属地区</option>
                            <option>所属地区</option>
                        </select>
                    </div>
                    <div class="col-20">
                        <select class="uestions-select">
                            <option>来源</option>
                            <option>所属地区</option>
                            <option>所属地区</option>
                        </select>
                    </div>
                    <div class="col-20">
                        <select class="uestions-select">
                            <option>来源</option>
                            <option>所属地区</option>
                            <option>所属地区</option>
                        </select>
                    </div>
                    <div class="col-20">
                        <select class="uestions-select">
                            <option>来源</option>
                            <option>所属地区</option>
                            <option>所属地区</option>
                        </select>
                    </div>
                    <div class="col-20">
                        <select class="uestions-select">
                            <option>来源</option>
                            <option>所属地区</option>
                            <option>所属地区</option>
                        </select>
                    </div>

                    <div class="col-100">
                        <div class="item-input ">
                            <textarea class="uestions-input" placeholder="请输入你的问题"></textarea>
                        </div>
                    </div>
                    <div class="col-100">
                        <div class="item-input ">
                            <textarea class="uestions-input" placeholder="请输入你的问题"></textarea>
                        </div>
                    </div>
                    <b class="button  button-fill color-main uestions-button">增加</b>

            </div>


            </div>
        </div>
    </div>
</div>

