<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">提现</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="withdrawals" class="page">
        <!-- Scrollable page content-->
        <div class="page-content page-gai">
            <div class="content-block person">
                <div class="row withdrawals-row">
                    <div class="col-50 withdrawals-money">
                        <span>40.50元</span>
                    </div>
                    <div class="col-15 money-cont">
                        <span>from</span>
                    </div>
                    <div class="col-35">
                        <div><i class="withdrawals-lcon-1"></i>题库<span>10.50</span>
                        </div>
                        <div><i class="withdrawals-lcon-2"></i>好友<span>10.50</span>
                        </div>
                        <div><i class="withdrawals-lcon-3"></i>解答<span>10.50</span>
                        </div>
                        <div><i class="withdrawals-lcon-4"></i>平台<span>10.50</span>
                        </div>
                    </div>
                </div>
                <p class="withdrawals-prompt">本次可转<span>40.50</span>元</p>
                <div class="withdrawals-bj">
                    <div class="row person-box">
                        <div class="col-65">
                            <i class="withdrawals-fooer-lcon-1"></i><b>转出金额</b>
                        </div>
                        <div class="col-35 ">
                            <input class="withdrawals-input" type="text" placeholder="请输入金额">
                        </div>
                    </div>

                     <label class="label-checkbox item-content ">
                        <!-- Checked by default -->
                        <input type="checkbox" name="my-checkbox" value="Books" checked="checked">
                        <div class="item-media">

                            <div class="row answer-gai ">
                                <div class="col-10 withdrawals-lcon">
                                    <i class="icon icon-form-checkbox icon-checked"></i> 
                                </div>
                                <div class="col-50">
                                    <div class="item-title-row">
                                        <i class="withdrawals-fooer-lcon-2"></i><b>支付宝账号</b>
                                    </div>
                                </div>
                                <div class="col-35">
                                    <div class="item-title-row">
                                        <span>12345678910</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </label>

                    <label class="label-checkbox item-content">
                        <!-- Checked by default -->
                        <input type="checkbox" name="my-checkbox" value="Books" checked="checked">
                        <div class="item-media">

                            <div class="row answer-gai">
                                <div class="col-10 withdrawals-lcon">
                                    <i class="icon icon-form-checkbox icon-checked"></i> 
                                </div>
                                <div class="col-50">
                                    <div class="item-title-row">
                                        <i class="withdrawals-fooer-lcon-3"></i><b>微信账号</b>
                                    </div>
                                </div>
                                <div class="col-35">
                                    <div class="item-title-row">
                                        <span>12345678910</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </label>

                    <div class="withdrawals-fooer">提现规则：1.T+1(提现日的次日到账)</div>
                    <div class="withdrawals-fooer-2">2.提现到账时间逢法定节假日顺延</div>
                    <div class="withdrawals-fooer-2">3.用户对提现资金去向自行负责</div>
                    <div class="withdrawals-fooer-2">4.完成的提现申请不可撤销和追溯</div>
                    <b class="button  button-fill color-main withdrawals-button"id="Applydi">提交确认</b>

                </div>


            </div>
        </div>
    </div>
</div>
