<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="" class="back link">
                <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">忘记密码</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="findpswd" class="page no-tabbar">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="buttons-row find_pass_tab" style="height:110px">
                <a href="#tab1_" class="button tab-link button-big active">
                <img style="width:40px;" src="../static/images/icon/icon_phone.png"><br>手机号找回</a>
                <a href="#tab2_" class="button tab-link button-big">
                <img style="width:40px;" src="../static/images/icon/icon_mail.png"><br>邮箱找回</a>
            </div>
            <div class="tabs">
                <div id="tab1_" class="tab active">
                    <div class="list-block">
                        <ul class="input_row find_row">
                            <li style="margin-bottom: 0px">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input id="telnum" type="tel" placeholder="请输入手机号" class="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="number" id="verif_code" placeholder="请输入验证码" class="">
                                        </div>
                                        <br>
                                        <div class="item-codes">
                                            <a href="#" class="button active" id="getTelNum">获取验证码</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block inset">
                        <a id="nextstep" class="button button-big button-fill color-main">下一步</a>
                    </div>
                </div>
                <div id="tab2_" class="tab">
                    <div class="list-block">
                        <ul class="input_row find_row">
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="search" id="getmail" placeholder="请输入邮箱" class="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block inset">
                        <a href="#" id="complete" class="button button-big button-fill color-main">完成</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>