<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link" id="checkboxesBackClickBtn"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">投诉</div>
        <div class="right">
            <a href="#" class="link" id="sub_post">提交</a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="checkboxes" class="page">
        <div class="page-content">
            <div class="content-block-title">请选择投诉原因</div>
            <div class="list-block">
                <ul id="label_radio">
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="色情低俗" data-value="1"/>
                            <div class="item-inner">
                                <div class="item-title">色情低俗</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="广告骚扰" data-value="2" />
                            <div class="item-inner">
                                <div class="item-title">广告骚扰</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="政治敏感" data-value="3" />
                            <div class="item-inner">
                                <div class="item-title">政治敏感</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="欺诈骗钱" data-value="4" />
                            <div class="item-inner">
                                <div class="item-title">欺诈骗钱</div>
                            </div>
                        </label>
                    </li>
                    <li>
                        <label class="label-radio item-content">
                            <input type="radio" name="ks-radio" value="违法(暴力恐怖、违禁品等)" data-value="5" />
                            <div class="item-inner">
                                <div class="item-title">违法(暴力恐怖、违禁品等)</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>