<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">订单</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="order" class="page">
        <!-- Scrollable page content-->
        <div class="page-content seek_mod order">
            <div class="content-block" id="all_card_container_unselected">
                
            </div>
            <div class="content-block" id="all_card_container_selected">
            
            </div>
        </div>
    </div>
</div>

 