<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">订单</div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="order" class="page">
        <!-- Scrollable page content-->
        <div class="page-content seek_mod order">
            <div class="content-block" id="all_card_container_unselected">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutter">
                            <div class="col-75">
                               <div class="card-content-inner">
                                   <div class="rows">
                                       <div class="name">时间</div>
                                       <div class="conts">2016-11-11 15：00</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">地点</div>
                                       <div class="conts">北京市海淀区123</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">出价</div>
                                       <div class="conts">1555.00</div>
                                   </div>
                                   <p class="info">啊实打实的空间撒旦克里夫啊收到两份</p>
                               </div>
                            </div>
                            <div class="col-25">
                                <div class="panl">
                                    <div>抢单中</div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="card-footer">
                        
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44" onclick="app.showExpert()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             Add Scrollbar 
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutter">
                            <div class="col-75">
                               <div class="card-content-inner">
                                   <div class="rows">
                                       <div class="name">时间</div>
                                       <div class="conts">2016-11-11 15：00</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">地点</div>
                                       <div class="conts">北京市海淀区</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">出价</div>
                                       <div class="conts">1555.00</div>
                                   </div>
                                   <p class="info">啊实打实的空间撒旦克里夫啊收到两份</p>
                               </div>
                            </div>
                            <div class="col-25">
                                <div class="panl">
                                    <div>抢单中</div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="card-footer">
                        
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="list-block media-list">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img src="/static/images/jpg.jpg" width="44">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             Add Scrollbar 
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>

                <div class="card bef">
                    <div class="card-content">
                        <div class="row no-gutter">
                            <div class="col-75">
                               <div class="card-content-inner">
                                   <div class="rows">
                                       <div class="name">时间</div>
                                       <div class="conts">2016-11-11 15：00</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">地点</div>
                                       <div class="conts">北京市海淀区</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">出价</div>
                                       <div class="conts">1555.00</div>
                                   </div>
                                   <p class="info">啊实打实的空间撒旦克里夫啊收到两份</p>
                               </div>
                            </div>
                            <div class="col-25">
                                <div class="panl">
                                    <div>进行中</div>
                                    <b class="button">完成</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="list-block media-list">
                            <div class="item-content">
                                <div class="item-media">
                                    <img src="/static/images/jpg.jpg" width="44">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            <span class="name">章三二</span>
                                            <span class="tel"><i class="m-icon m-icon-phone"></i>138333121212</span>
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <a href="" class="tags">程序员</a>                                                            <a href="" class="tags">程序员</a>
                                        <a href="" class="tags">律师</a>
                                        <a href="" class="tags">公务员</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bef">
                    <div class="card-content">
                        <div class="row no-gutter">
                            <div class="col-75">
                               <div class="card-content-inner">
                                   <div class="rows">
                                       <div class="name">时间</div>
                                       <div class="conts">2016-11-11 15：00</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">地点</div>
                                       <div class="conts">北京市海淀区</div>
                                   </div>
                                   <div class="rows">
                                       <div class="name">出价</div>
                                       <div class="conts">1555.00</div>
                                   </div>
                                   <p class="info">啊实打实的空间撒旦克里夫啊收到两份</p>
                               </div>
                            </div>
                            <div class="col-25">
                                <div class="panl">
                                    <div>待抢货</div>
                                    <a href="seek/checkboxes.html" class="button">投诉</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="list-block media-list">
                            <div class="item-content">
                                <div class="item-media">
                                    <img src="/static/images/jpg.jpg" width="44">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">
                                            <span class="name">章三二</span>
                                            <span class="tel"><i class="m-icon m-icon-phone"></i>138333121212</span>
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <a href="" class="tags">程序员</a>                                                            <a href="" class="tags">程序员</a>
                                        <a href="" class="tags">律师</a>
                                        <a href="" class="tags">公务员</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-block" id="all_card_container_selected">
            
            </div>
        </div>
    </div>
</div>

 