<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="index.html" class="back link"><i class="m-icon m-icon-back"></i></a>
        </div>
        <div class="center sliding">收藏</div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="collect" class="page">
        <div class="page-content news">
            <div class="list-block media-list">
                <ul id="collect_list">
                    
                </ul>
            </div>
        </div>
    </div>
</div>