<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link"> <i class="m-icon m-icon-back"></i>
            </a>
        </div>
        <div class="center sliding">资讯</div>
        <div class="right">
            <!--<a href="#" class="link open-picker">分享</a>-->
            <p><a href="#" class="ac_1" style="color: #FFFFFF">分享</a></p>
        </div>
    </div>
</div>
<div class="pages">
    <!-- Page, data-page contains page name-->
    <div data-page="newsDetails" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="content-block news_details">
                <div class="content-block-inner" id="news_data">

                </div>
            </div>
            <div id="comment_list">
                
            </div>
            <div id="common_c">
                
            </div>
        </div>
    </div>
</div>