<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li><a href="">首页</a></li>
	                    <li><a href="">寻他</a></li>
	                    <li><a href="">资讯</a></li>
	                    <li><a href="">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banner-->
		<div class="banners">
		  	<div class="am-container am-banners-height">
		  		<form action="" method="post" class="advise-form">
		  			<div class="opinion">
		  				<div class="am-fl choice">
			  				<input type="text" name="" id="" value="" placeholder="关键字检索"/>
			  				<img src="../static/images/img/red.png"/>
			  			</div>
			  			<div class="am-fr book">
			  				<a href="">法规意见书</a>
			  			</div>
		  			</div>	
		  		</form>
		  		<div class="banners-contnet advise-book">  
		  			<p class="affairs">国家税务局局公告2016年第33号</p>
		  			<div class="line">
		  				<span class="lines"></span>
		  				<h6>
		  					国家税务总局关于发布《促进残疾人就业增加<br/>
		  					值税优惠政策管理办法》的公告
		  				</h6>
		  				<p>为规范和完善促进残疾人就业增值税优惠政策管理，国家税务总局制定了《促进残疾人就业增值税优惠政策管理办法》，现予以
公布，自2016年5月1日起施行。</p>
						<p>特此公告。</p>
						<p>附件：安置残疾人纳税人申请增值税退税声明</p>
						<p class="right">国家税务总局</p>
						<p class="right">2016年5月27日</p>
						
						<h6>促进残疾人就业增值税优惠政策管理办法</h6>
		  				<p><b>第一条</b>  为加强促进残疾人就业增值税优惠政策管理，根据《财政部国家税务总局关于促进残疾人就业增值税优惠政策的通知》
（财税〔2016〕52号）、《国家税务总局关于发布〈税收减免管理办法〉的公告》（国家税务总局公告201
5年第43号）及有关规定，制定本办法。</p>
						<input type="text" class="give" name="" id="" value="" placeholder="给点建议吧"/>
						<div class="sub">
							<a href="">提交</a>
						</div>
						<p><b>第二条</b>  为加强促进残疾人就业增值税优惠政策管理，根据《财政部国家税务总局关于促进残疾人就业增值税优惠政策的通知》
（财税〔2016〕52号）、《国家税务总局关于发布〈税收减免管理办法〉的公告》（国家税务总局公告201
5年第43号）及有关规定，制定本办法。</p>
						<input type="text" class="give" name="" id="" value="" placeholder="给点建议吧"/>
						<div class="sub">
							<a href="">提交</a>
						</div>
		  			</div>
		  		</div>
			</div>	
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="services.html" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="tax.html" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="query.html" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="advise.html" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="info.html" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="calculator.html" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="public.html" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="app.html" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>