<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li class="am-active"><a href="index.html">首页</a></li>
	                    <li><a href="">寻他</a></li>
	                    <li><a href="">资讯</a></li>
	                    <li><a href="">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banner-->
		<div class="apps">
		  
		</div>
		<!--down-->
		<div class="down">
			<div class="am-container am-down-height">
				<div class="down-content">
					<p>下载APP</p>
					<div class="app-down">
						<div class="am-fl">
							<img src=""/>
							<span class="am-block">Android</span>
						</div>
						<div class="am-fr">
							<img src=""/>
							<span class="am-block">iPhone</span>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="services.html" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="tax.html" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="query.html" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="advise.html" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="info.html" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="calculator.html" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="public.html" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="app.html" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:">隐私</a> 
		  </div>
		</footer>
		
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>