<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li><a href="index.html">首页</a></li>
	                    <li><a href="javascript:void(0);">寻他</a></li>
	                    <li><a href="javascript:void(0);">资讯</a></li>
	                    <li><a href="javascript:void(0);">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="javascript:void(0);">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banner-->
		<div class="banners">
		  <div class="am-container am-banners-height">
		  	<div class="calculator">  	
		  		<div class="remark">
		  			说明：如果计算的是外籍人士（包括港、澳、台），则个税起征点应设为4800元。
		  		</div>
		  		<div class="type">
		  			<form action="" method="post"> 
		  				<div class="contents contents-height">
							<div class="am-fl media">
								
		                    </div>
		                	<div class="am-fl inner">
		                    	<select name="" class="calculator">
		                    		<option value="">计算器类型</option>
		                    		<option value=""></option>
		                    		<option value=""></option>
		                    		<option value=""></option>
		                    	</select>
		                    </div>
	                	</div>
		  				<div class="contents">
							<div class="am-fl media">
								收入类型
		                    </div>
		                	<div class="am-fl inner">
		                    	<select name="" style="width:235px;">
		                    		<option value=""></option>
		                    		<option value=""></option>
		                    		<option value=""></option>
		                    		<option value=""></option>
		                    	</select>
		                    </div>
	                	</div>
		  				<div class="contents">
							<div class="am-fl media">
								收入类型
		                    </div>
		                	<div class="am-fl inner">
		                    	<input type="text" name=""/>
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								税前工资
		                    </div>
		                	<div class="am-fl inner">
		                    	<input type="text" name=""/>&nbsp;元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								各项社会保险费
		                    </div>
		                	<div class="am-fl inner">
		                    	<input type="text" name=""/>&nbsp;元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								起征点
		                    </div>
		                	<div class="am-fl inner">
		                    	<select name="">
		                    		<option value="">3500</option>
		                    		<option value="">4000</option>
		                    		<option value="">4500</option>
		                    		<option value="">5000</option>
		                    	</select>&nbsp;元
		                    </div>
	                	</div>
	                	<div class="contents contents-height">
							<div class="am-fl media">
								<button>计&nbsp;算</button>
		                    </div>
		                	<div class="am-fl inner">
		                    	<button>重&nbsp;置</button>
		                    </div>
	                	</div>
		  			</form>  			
		  		</div>
		  	</div>  		  
		  	<div class="calculator second">  	
		  		<div class="type">
		  			<form action="" method="post"> 
		  				<div class="contents contents-height">
							<div class="am-fl media media-title">
								个人所得税计算结果
		                    </div>
		                	<div class="am-fl inner">
		    
		                    </div>
	                </div>
		  				<div class="contents">
							<div class="am-fl media">
								应交税所得额
		                    </div>
		                	<div class="am-fl inner">
		                		0元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								适用税率
		                    </div>
		                	<div class="am-fl inner">
		                    	0元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								速算扣除数
		                    </div>
		                	<div class="am-fl inner">
		                    	0元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								应缴税款
		                    </div>
		                	<div class="am-fl inner">
		                    	<input type="text" name=""/>&nbsp;元
		                    </div>
	                	</div>
	                	<div class="contents">
							<div class="am-fl media">
								实发工资
		                    </div>
		                	<div class="am-fl inner">
		                    	<input type="text" name=""/>&nbsp;元
		                    </div>
	                	</div>
		  			</form>  			
		  		</div>
		  	</div>  	
		  </div>
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="services.html" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="tax.html" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="query.html" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="advise.html" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="info.html" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="calculator.html" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="public.html" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="app.html" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>