<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li><a href="">首页</a></li>
	                    <li><a href="">寻他</a></li>
	                    <li><a href="">资讯</a></li>
	                    <li><a href="">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banners-->
		<div class="banners">
		  <div class="am-container am-banners-height">
		  	<div class="banners-contnet"> 
		  		<h4>行政事务</h4>
	            <p>张先生  139 2570 3616   chuanliang@seazon.top</p>
	            
	            <h4>专业合作</h4>
	            <p>刘女士  135 5247 6148   yantong@seazon.top</p>
	            
	            <h4>广告业务</h4>
	            <p>刘女士  135 5247 6148   yantong@seazon.top</p>
	            
	            <h4>税局协助</h4>
	            <p>刘女士  135 5247 6148   yantong@seazon.top</p>
	            
	            <h4>集团客户</h4>
	            <p>刘女士  135 5247 6148   yantong@seazon.top</p>
	            
	            <h4>公司地址</h4>
	            <p>广东.东莞.莞城.V-Work创客谷</p>
		  	</div>
		  </div>
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>