<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li><a href="">首页</a></li>
	                    <li><a href="">寻他</a></li>
	                    <li><a href="">资讯</a></li>
	                    <li><a href="">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banners-->
		<div class="banners">
		  <div class="am-container am-banners-height">
		  	<div class="banners-contnet"> 
		  		<h3>广告业务</h3>
	            <p>税聚（APP）广泛覆盖全国财税专业人士人群，该群体具有高素质、高价值和持续升级的消费特性，我们能够通过区域精分、100%到达率等优势，使您的广告投入发挥最大的功效。</p>
	            <p>联系人：刘女士  yantong@seazon.top   135 5247 6148</p>
	            <p>　</p>
            
	            <h3>专业合作</h3>
	            <p>森泽税诺通过互联网技术解决全国财税专业人士的涉税咨询的碎片化需求，在不断提高优化线上服务质量和效率的同时，我们也将积极挖掘客户更深层、更复杂的涉税疑难需求，并希望能够在地区具有专业储备优势的财税中介或个人，建立专业灵活的合作联盟，共同专注于纳税人的利益。</p>
	            <p>联系人：刘女士  yantong@seazon.top   135 5247 6148</p>
	            <p>　</p>
	            
	            <h3>税局协助</h3>
	            <p>森泽税诺可以为全国各地的税务局提供有针对性的纳税服务社会化提供方案，节省税务机关的纳税服务成本支出，更高效、更便利的服务辖区内的纳税人，塑造税务机关的专业度和开放性，提升纳税人对税务机关的满意度和美誉度。</p>
	            <p>联系人：刘女士  yantong@seazon.top   135 5247 6148</p>
	            <p>　</p>
	            
	            <h3>集团客户</h3>
	            <p>森泽税诺在满足集团客户日常涉税疑难的碎片化需求之余，还可以根据各集团客户的行业特点、政策变化和业务需求等，为其量身打造周到全面的税务服务。包括邀请具有权威性和专业度的专家、学者、官员与客户进行面对面的交流和沟通，汇总整合客户及其行业最具税务风险点和关注热点，便于客户进行集团内部的员工培训和提升。</p>
	            <p>联系人：刘女士  yantong@seazon.top   135 5247 6148</p>
		  	</div>
		  </div>
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>