<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  				<nav>
  					<ul class="amz-header-nav am-collapse">
	                    <li><a href="index.html">首页</a></li>
	                    <li><a href="javascript:void(0);">寻他</a></li>
	                    <li><a href="javascript:void(0);">资讯</a></li>
	                    <li><a href="javascript:void(0);">我的</a></li>
	                    <li><a href="login.html"><img src="../static/images/img/head.png"/ style="height:26px;"></a></li>
	                    <li><a href="message.html">消息</a></li>
	                    <li><a href="javascript:void(0);">中文|English</a></li>
	                </ul>
  				</nav>
  			</div>
		</header>
		<!--banner-->
		<div class="banners">
		  	<div class="am-container am-banners-height">
		  		<div class="banners-contnet"> 
			  		<p class="liu">培训信息</p>
			  		<form action="" method="post" class="info-form">
			  			<a href="javascript:void(0);" class="am-fl">
			  				<input type="text" placeholder="搜索城市、时间段、费用" class="search">
			  			</a>
			  			<a href="javascript:void(0);" class="am-fl">
			  				<input type="submit" class="going" value="">
			  			</a>
			  		</form>
			  		<div class="info-content">
			  			<div class="trains">
			  				<div class="am-fl trains-pic">
			  					<img src="../static/images/img/train.png"/>
			  				</div>
			  				<div class="am-fl trains-word">
			  					培训是一种有组织的知识传递、技能传递、标准传递、信息传递、信念传递、管理训诫行为。目前国内培训以技能传递为主，时间则侧重上岗前。 为了达到统一的科学技术规范、标准化作业，通过目标规划设定、知识和信息传递、技能熟练演练、作业达成评测、结果交流公告等现代信息化的流程，让员工通过一定的教育训练技术手段，达到预期的水平提高目标，提升战斗力，个人能力，工作能力的训练都称之为培训！
			  				</div>
			  			</div>
			  			<ul class="training">
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
					  				<span>万人发布会</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用</span>
					  				<span>100.00元/人</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</span>
					  				<span>06月02日</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>参加资格</span>
					  				<span>SVIP会员</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点</span>
					  				<span>北京国家会议中心</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>咨询电话</span>
					  				<span>010-6788999</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>组&nbsp;&nbsp;办&nbsp;&nbsp;方</span>
					  				<span>税聚</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>截止日期</span>
					  				<span>2016年7月2日</span>
				  				</a>
			  				</li>
			  			</ul>
			  			<div class="enter">
			  				<a class="am-fr">报&nbsp;名</a>	
			  			</div>		  			
			  		</div>
		  			<div class="info-content">
			  			<div class="trains">
			  				<div class="am-fl trains-pic">
			  					<img src="../static/images/img/train.png"/>
			  				</div>
			  				<div class="am-fl trains-word">
			  					培训是一种有组织的知识传递、技能传递、标准传递、信息传递、信念传递、管理训诫行为。目前国内培训以技能传递为主，时间则侧重上岗前。 为了达到统一的科学技术规范、标准化作业，通过目标规划设定、知识和信息传递、技能熟练演练、作业达成评测、结果交流公告等现代信息化的流程，让员工通过一定的教育训练技术手段，达到预期的水平提高目标，提升战斗力，个人能力，工作能力的训练都称之为培训！
			  				</div>
			  			</div>
			  			<ul class="training">
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
					  				<span>万人发布会</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用</span>
					  				<span>100.00元/人</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间</span>
					  				<span>06月02日</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>参加资格</span>
					  				<span>SVIP会员</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点</span>
					  				<span>北京国家会议中心</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>咨询电话</span>
					  				<span>010-6788999</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>组&nbsp;&nbsp;办&nbsp;&nbsp;方</span>
					  				<span>税聚</span>
				  				</a>
			  				</li>
			  				<li>
			  					<a href="javascript:void(0);">
					  				<span>截止日期</span>
					  				<span>2016年7月2日</span>
				  				</a>
			  				</li>
			  			</ul>
			  			<div class="enter">
			  				<a class="am-fr">报&nbsp;名</a>	
			  			</div>		  			
			  		</div>
		  		</div>
			</div>	
		</div>
		<!--content-->
		<div class="content">
		  <div class="am-g am-container">
		    <div class="am-u-lg-22">
		      <div class="am-g">
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">
		        	<a href="services.html" class="am-text-center am-block">
			          	<img class="am-block" src="../static/images/img/current.png"/>
			          	<span>同期资料</span>
			          	<span>可比数据</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		           	<a href="tax.html" class="am-text-center">
			          	<img src="../static/images/img/identify.png"/>
			          	<span>国际税收</span>
			          	<span>鉴定</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="query.html" class="am-text-center">
			          	<img src="../static/images/img/inquire.png"/>
			          	<span>法规查询</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="advise.html" class="am-text-center">
			          	<img src="../static/images/img/advise.png"/>
			          	<span>法规建议</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="info.html" class="am-text-center">
			          	<img src="../static/images/img/info.png"/>
			          	<span>培训信息</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="calculator.html" class="am-text-center">
			          	<img src="../static/images/img/calculator.png"/>
			          	<span>个税</span>
			          	<span>计算器</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="public.html" class="am-text-center">
			          	<img src="../static/images/img/public.png"/>
			          	<span>税聚</span>
			          	<span>公众号</span>
		          	</a>
		        </div>
		        <div class="am-u-lg-2 am-u-md-6 am-u-sm-12 content-list">  	
		            <a href="app.html" class="am-text-center">
			          	<img src="../static/images/img/app.png"/>
			          	<span>税聚</span>
			          	<span>APP</span>
		          	</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>