<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>税聚</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
		<!-- 框架css -->
		<link rel="stylesheet" href="../static/lib/amazeui/css/amazeui.min.css">
		<link rel="stylesheet" href="../static/lib/amazeui/css/admin.css">
		<!-- 自定义css -->
		<link rel="stylesheet" href="/static/css/login.css">
		<!--<link rel="stylesheet" href="/widget/login/xxx.css">-->
	</head>
	<body>
		<!--Header-->
		<header id="amz-header">
  			<div class="am-container">
  				<h2>
  					<a href="index.html">
  						<img src="../static/images/logo.jpg"/>
  						<small>税聚</small>
  					</a>
  				</h2>
  			</div>
		</header>
		<!--banner-->
		<div class="pages">
			<div class="am-container pages-content">
				<div class="loginboxs">		
					<div class="title">
	            		<a href="">找回密码</a>
					</div>
					<form action="index.html" method="">				
						<div class="am-input-group">
		                   <input type="password" name="password" id="password" placeholder="新密码">
		                </div>
		                <div class="am-input-group">
		                   <input type="password" name="password" id="password" placeholder="确认密码">
		                </div>
		                <div class="am-input-group">
		                	 <button class="finish">完成</button> 
		                </div>
		                  			
					</form>
				</div>
			</div>
		</div>
		<a class="am-a-maodian"></a>
		<!--Footer-->
		<footer class="am-footer footer links">
		  <div class="am-footer-switch am-footer-alink"> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">我们</a>
		  	<span class="am-footer-divider">|</span> 
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">合作</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">联系</a>
		  	<span class="am-footer-divider">|</span>
		  	<a data-rel="desktop" class="am-footer-desktop" href="javascript:void(0);">隐私</a> 
		  </div>
		</footer>
		
		<script src="../static/lib/jquery/jquery.min.js"></script>
		<script src="../static/lib/amazeui/js/amazeui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script src="../static/js/business.js"></script>
	</body>

</html>